<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">Homepange</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://scontent.fhan4-4.fna.fbcdn.net/v/t39.30808-1/484895554_685047493862507_8119295966222777149_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=102&ccb=1-7&_nc_sid=1d2534&_nc_eui2=AeHVz6OOdojcR5eMlLsI44HLtZT5pIfuw4u1lPmkh-7Di38f6dfoMci9ehxHhSTgYDvyvxeRnGvCo0fdfXbdmhn3&_nc_ohc=pb-5yFna-fkQ7kNvwEcG7zc&_nc_oc=AdmRLj2UcVFh3gKDAf3fFbVTyXVtc0xKRXVem7c5grn-rOSTtOWvYYEAsGsh-T27JzE&_nc_zt=24&_nc_ht=scontent.fhan4-4.fna&_nc_gid=r0LW_C7ImSTZl6nRL0xicA&oh=00_AfPVfasa3dRa5XmyvQ2OrEz_UpnyFnN2zL4G5qiWDLWTuQ&oe=6862DA57" alt="" class="user-avatar">
            Quốc Huy
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item" href="/courses/create/">Create Courses</a>
            </li>

            <li><hr class="dropdown-divider"></li>
            
            <li class="nav-item">
              <a class="dropdown-item" href="/me/stored/courses">My Coursess</a>
            </li>

            <li class="nav-item">
              <a class="dropdown-item" href="/me/stored/news">My Posts</a>
            </li>
            
            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>